div {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.first-para {
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 200px;
    background-color: blueviolet;
    color: white;
}